.registered {
    font-size: .5em;
}

.SideNav {
    background-color: #222;
    color: white;
    height: 100%;
    left: 0;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 20%;
    z-index: 1000;
}

.searchBtn {
    background-color: oldlace;
    height: 28px;
}

.searchInput {
    margin: 10px;
    width: 100px;
}

.searchSelect {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: oldlace;
    border-radius: 5px;
    height: 28px;
    margin: 10px;
    width: 100px;
}

.searchTitle {
    color: oldlace;
}